<div id="userDetails">
	<form id="userForm" action="">
		<label>Id:</label>
		<input id="id" name="id" type="text" value="<%= id %>" disabled />
		<br />
		<div class="formular" id="userName">
			<label>Username:</label>
			<input type="text" id="userName" value="<%= userName %>" required />
		</div>
		<div class="formular" id="name">
			<label>Name:</label>
			<input type="text" id="name" value="<%= name %>" required />
		</div>
		<br />
		<input type="submit" id="saveAccount" class="save" value="save">
	</form>
</div>